/* 外部容器 */
.site-head {
    width: 100%;
    position: relative;

}

/* 内部容器 */
.site-head .head-container {
    width: 1226px;
    height: 100px;
    margin: 0 auto;
}

/* logo容器 */
.head-logo {
    /* float: left; */
    position: absolute;
}

.head-logo img {
    width: 62px;
    height: 56px;
    margin-top: 22px;
    display: block;
}

/* 导航容器 */
.head-nav {
    float: left;
}

/* 导航ul */
.head-nav .nav-list {
    height: 100px;
    line-height: 100px;
    margin-left: 7px;
    padding-left: 58px;
    z-index: 1;
}

/* 导航a标签设置样式 */
.head-nav .nav-item a {
    color: #333;
    display: block;
}

.head-nav .nav-item a:hover {
    color: #ff6a00;
}

.head-nav .nav-item {
    float: left;
    padding: 0 10px;
}

/* 隐藏第一个li */
.head-nav .nav-item:first-child {
    visibility: hidden;
}

/* 导航下拉框 */
.nav-list .item-child {
    width: 100%;
    /* height: 228px; */
    height: 0;
    position: absolute;
    left: 0;    
    top: 100px;
    /* overflow: hidden;  */
    transition: height 0.3s;
    background-color: #fff;
    /* 最高层级 */
    z-index: 99;
}

.nav-list .nav-item:hover~.item-child,
.nav-list .item-child:hover {
    height: 228px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}

/* 搜索框 */
.head-search {
    float: right;
    margin-top: 25px;
    width: 296px;
    background-color: rgb(224, 224, 224);
    border: 1px solid rgb(224, 224, 224);
    /* box-sizing: content-box; */
}

/* input框样式 */
.search input:first-child {
    width: 224px;
    height: 50px;
    float: left;
    border: none;
    padding: 0 10px;
    color: #9ba8c0;
}

.search .btn {
    width: 52px;
    height: 50px;
    border: none;
    padding: 0;
    background-color: #fff;
    float: left;
    border-left: 2px solid rgb(204, 204, 204);
    font-size: 16px;
}

.search .btn:hover {
    background-color: #ff6a00;
    color: white;
}
.search .input:first-child:active{
    border: 1px solid #ff6a00;
}