 /* 网站首页 */
 .site-home {
    width: 100%;
}

/* 内容器 */
.site-home .container-home {
    width: 1226px;
    height: 670px;
    margin: 0 auto;
    position: relative;
    /* background-color: #ff6700; */
}

/* 左侧菜单容器 */
.top-home .left-home {
    width: 234px;
    height: 420px;
    background-color: #a2a0a0;
    float: left;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
}

/* li标签 */
.list-home .item-home {
    width: 204px;
    line-height: 42px;
    padding-left: 30px;
    float: left;
}

.item-home:hover {
    background-color: #ff6700;
}

/* a 标签 */
.list-home .item-home a {
    color: #ffffff;
    height: 42px;
    width: 171px;
    float: left;
    /* display: block; */
}

/* 文字图标 */
.item-home i {
    color: #ffffff;
    float: right;
    padding-right: 25px;
    line-height: 42px;
}

/* 左侧导航下拉框 */
.list-home .item-child {
    width: 992px;
    height: 460px;
    background-color: #ffffff;
    position: absolute;
    left: 234px;
    top: 0;
    display: none;
    z-index: 1;
}

.list-home .item-home:hover~.item-child,
.list-home .item-child:hover {
    display: block;
}

/* 右侧容器 */
.top-home .right-home {
    width: 1126px;
    height: 460px;
    /* background-color: saddlebrown; */
    float: left;
    position: relative;
}

/* img */
.banner img {
    width: 1226px;
    height: 460px;
    vertical-align: top;
    position: absolute;
    top: -2px;
}

/* 底部圆点容器 */
.banner-item {
    position: absolute;
    bottom: 20px;
    right: -55px;
}
.banner-item a {
    float: left;
    width: 6px;
    height: 6px;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
    margin-left: 5px;
}
.banner-item a:hover,
.banner-item a:first-child {
    background-color: rgba(255, 255, 255, .4);
    border: 2px solid rgba(0, 0, 0, .4);
}

/* 箭头 */
.prev-next a {
    width: 41px;
    height: 69px;
    position: absolute;
    /* z-index: 1; */
    top: 0;
    bottom: 0;
    margin: auto 0;
    overflow: hidden;
}

/* 左箭头 */
.prev-next .prev {
    left: 234px;
    position: absolute;
}

.prev-next .prev img {
    position: absolute;
    left: -84px;
}

/* 右箭头 */
.prev-next .next {
    right: -100px;
}

.prev-next .next img {
    position: absolute;
    left: -125px;
}

/* 雪碧图容器 */
.prev-next a img {
    width: 166px;
    height: 69px;
}

.prev-next .prev:hover img {
    left: 0;
}

.prev-next .next:hover img {
    left: -42px;
}

/* 下半部分 */
.bottom-home {
    width: 100%;
    float: left;
    margin-top: 14px;
}

/* 第一个内容 */
.bottom-home .box1 {
    width: 228px;
    height: 164px;
    background-color: #5f5750;
    float: left;
    position: relative;
    padding: 2px;
}
/* 小块内容容器 */
.box1-service li {
    width: 70px;
    height: 82px;
    float: left;
    padding: 0 3px;
}
/* 容器内a标签样式 */
.box1-service a {
    float: left;
    font-size: 12px;
    padding-top: 18px;
    text-align: center;
    color: #ffffff;
}
/* 添加顶部分割线 */
.box1-service li::before{
    content: '';
    width: 64px;
    height: 1px;
    background-color: #665e57;
    position: absolute;
    margin-left: 3px;
}
/* 添加右侧分割线 */
.box1-service li::after{
    content: '';
    width: 1px;
    height: 71px;
    background-color: #665e57;
    position: absolute;
    margin-top: 5.5px;
}
/* 小格内图片大小 */
.box1-service img {
    width: 24px;
    height: 24px;
    margin: 0 23px 4px 23px;
}

/* 其余内容 */
.bottom-home .box2,
.box3,
.box4 {
    width: 316px;
    height: 170px;
    background-color: #bfa;
    float: left;
    margin-left: 14px;
}
/* 加长宽度填补空缺 */
.bottom-home .box4 {
    width: 320px;
}
/* 图标占据父元素全部 */
.bottom-home .box2 img{
    width: 100%;
}
.bottom-home .box3 img{
    width: 100%;
}
.bottom-home .box4 img{
    width: 100%;
}
